@charset "utf-8";
*{
	margin: 0;
	padding: 0;
}
body{
	background: url(../images/wallpaper5.jpg) no-repeat center;
	font-family:"微软雅黑",Arial;
}

.tab{
	margin: 200px auto;
	width: 600px;
	text-align: center;
	border-collapse: collapse;
	/*border-color: rgba(100,71,65,0.5);*/
	background: rgba(89,57,46,0.4);
	color: fff;
}

td{
	height: 50px;
	border-color: rgba(100,71,65,0.5);
	/*background: oldlace;*/
	color: #eee;
	
}
.too{
	margin-top:15px;
	text-align: left;
	padding-left: 30px;
	width: 450px;
}
.too p{
	margin-top:15px;
	margin-bottom:15px;
	
	}


.logo{
	position:fixed;
	top:24px;
	left:50px;
	width:180px;-webkit-transition:all .2s ease-in-out 0s;-moz-transition:all .2s ease-in-out 0s;-ms-transition:all .2s ease-in-out 0s;-o-transition:all .2s ease-in-out 0s;transition:all .2s ease-in-out 0s;}
